@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom typography */
@layer base {
  ._header {
    @apply font-medium lg:text-[3.5rem]/[3.5rem] text-[2.5rem]/[2.5rem] font-oswald max-sm:w-10/12;
  }
  ._header2 {
    @apply font-medium lg:text-[1.8rem]/[1.8rem] md:text-[1.7rem]/[1.7rem] text-[1.5rem]/[1.5rem] font-oswald;
  }

  .text,
  p {
    @apply md:text-base lg:leading-[1.4rem] md:leading-4 text-sm;
  }

  ._bg-blur {
    background: linear-gradient(
      122.22deg,
      rgba(255, 255, 255, 0.08) 3.95%,
      rgba(255, 255, 255, 0.06) 69.33%
    );
    backdrop-filter: blur(25px);
  }

  ._spexXtext {
    font-size: calc(1.7rem + 2vw);
    line-height: calc(1.7rem + 2vw);
  }

  /* Carousel css */
  ._34sdf .alice-carousel__prev-btn,
  ._34sdf .alice-carousel__next-btn,
  #_3434ERR .alice-carousel__prev-btn,
  #_3434ERR .alice-carousel__next-btn {
    display: none;
  }

  ._34sdf .alice-carousel__dots-item,
  #_3434ERR .alice-carousel__dots-item {
    width: 1.2rem !important;
    height: 1.2rem !important;
  }

  ._stroke_dash_300 {
    stroke-dasharray: 400;
  }
  ._stroke-white {
    stroke: white;
    fill: white;
  }
  ._stroke-grey {
    stroke: #cad9f2;
    fill: #cad9f2;
  }
}
