@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom typography */
@layer base {
  ._header {
    @apply font-medium xl:text-[3.4rem]/[3.4rem] text-[2.4rem]/[2.4rem];
  }
  ._header2 {
    @apply font-medium text-[32px]/[32px];
  }

  .text {
    @apply text-base leading-4;
  }

  ._xer23_1212 {
    min-height: calc(40rem - 5.7rem);
  }

  ._bg-blur {
    background: linear-gradient(
      122.22deg,
      rgba(255, 255, 255, 0.08) 3.95%,
      rgba(255, 255, 255, 0.06) 69.33%
    );
    backdrop-filter: blur(25px);
  }

  ._body {
    @apply flex items-center justify-center;
  }

  ._spexXtext {
    font-size: calc(1.7rem + 2vw);
    line-height: calc(1.7rem + 2vw);
  }

  ._wrapper {
    @apply 2xl:container w-11/12;
  }
}
